* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background: url('./assets/barren_by_josegoncalo_de24e2u.png') no-repeat center center/cover;
  display: block;
  align-content: center;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.box-shadow {
  /* box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.41);
  -webkit-box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.41);
  -moz-box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.41); */
  border-radius: 15px;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

h1{
  color: white;
  font-size: 3rem;
}

.forecast{
  text-align: center;
  font-size: 3rem;
  color: black;
}

.day {
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 100%;
  display: flex;
  padding: 20px;
}


.weekDay {
  margin-top: 30px;
}

.container {
  background-color: #ffffff59;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 30px;
}

