* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.selector-01 { margin: 10px; }
	.selector-02 { margin: 10px; }
	.selector-03 { margin: 10px; }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	.selector-01 { margin: 10px; }
	.selector-02 { margin: 10px; }
	.selector-03 { margin: 10px; }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */ 
}

body {
  background: url('./assets/barren_by_josegoncalo_de24e2u.png') no-repeat center center/cover;
  display: block;
  align-content: center;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.box-shadow {
  /* box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.41);
  -webkit-box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.41);
  -moz-box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.41); */
  border-radius: 15px;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

h1{
  color: white;
  font-size: 3rem;
}

.forecast{
  text-align: center;
  font-size: 3rem;
  color: black;
}

.day {
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 100%;
  display: flex;
  padding: 20px;
}


.weekDay {
  margin-top: 30px;
}

.weatherwindows {
  background-color: #ffffff59;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 30px;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: rgba(2, 64, 83, 0.5) ;
  display: flex;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

span{
  color: red
}
